h1 {
  text-align: center;
}

div {
  display: block;
  margin : auto;
  text-align: center;
}

/*a.list-group-item.list-group-item-action.action {
  background-color : red;
}

a.list-group-item.list-group-item-action.verite {
  background-color: blue;
}*/